# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Environment
.env

# IDE
.vscode/

# OS
.DS_Store

# Spark
spark-warehouse/

# Generated data
/data/
/storage/
*.parquet
*.delta

# synthea test data
tools/synthea/

# Generated Delta tables
data/delta/bronze/*
!data/delta/bronze/.gitkeep

spark-warehouse/
